/*Fonts*/
@font-face {
    font-family: 'PFDinTextPro-Light';
    src: url('../fonts/PFDinTextPro-Light.eot');
    src: url('../fonts/PFDinTextPro-Light.woff') format('woff'),
    url('../fonts/PFDinTextPro-Light.ttf') format('truetype'),
    url('../fonts/PFDinTextPro-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinDisplayPro-Black';
    src: url('../fonts/PFDinDisplayPro-Black.eot');
    src: local('☺'), url('../fonts/PFDinDisplayPro-Black.woff') format('woff'),
    url('../fonts/PFDinDisplayPro-Black.ttf') format('truetype'),
    url('../fonts/PFDinDisplayPro-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*End Fonts*/

html, body {
    height: 100%;
}

body {
    font-family: 'PFDinTextPro-Light', Calibri, sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1;
    background-color: #fff;
    min-width: 980px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #6aaed6;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

a:active, a.active {
    text-decoration: none;
}

ul.hor {
    margin: 0;
    padding: 0;
    display: inline-block;
}

ul.hor li {
    display: inline-block;
    margin: 0 6px;
}

.icon_sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-color: transparent;
}

.icon_sprite.basket {
    display: inline-block;
    width: 20px;
    height: 19px;
    background-position: -1px -1px;
}

.icon_sprite.sign_in {
    display: inline-block;
    width: 16px;
    height: 17px;
    background-position: -22px -1px;
}

.icon_sprite.adviser {
    display: inline-block;
    width: 22px;
    height: 21px;
    background-position: -40px -1px;
}

.icon_sprite.search {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: -63px -1px;
}

.icon_sprite.close {
    display: inline-block;
    width: 20px;
    height: 21px;
    background-position: -81px -2px;
}

.icon_sprite.remove_small {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: -101px -25px;
}

.icon_sprite.arrow_left {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-position: -2px -25px;
}

.icon_sprite.arrow_right {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-position: -30px -25px;
}
.icon_sprite.gift {
    display: inline-block;
    width: 14px;
    height: 16px;
    background-position: -2px -53px;
}
.icon_sprite.disabled {
    opacity: 0;
    cursor: default;
}


input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    height: 37px;
    padding: 0 5px 0 15px;
    width: 100%;
    border: 1px solid #e5e5e5;
}

::-webkit-input-placeholder {
    color: #ccc;
}

input:-moz-placeholder {
    color: #ccc;
    opacity: 1;
}

::-moz-placeholder {
    color: #ccc;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #ccc;
}

input[type='submit'] {
    outline: none;
}

input[type='text']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='password']:focus {
    border-color: #cce5f2;
    box-shadow: 0 0 4px #cce5f2;
}

.button {
    font-family: 'PFDinDisplayPro-Black', Calibri, sans-serif;
    font-size: 15px;
    color: #fff;
    padding: 0 25px;
    line-height: 3;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    outline: none;
}

.button.pink {
    background-color: #b74380;
}

.button.black {
    background-color: #373532;
}

/*header*/
.header_info{
    background: #99cc33;
}
.header_info .info{
    width: 980px;
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    padding: 10px 0 8px;
    text-align: center;
}
.header_info .icon_sprite.gift{
    margin: 0 10px -1px 0;
}


.primary_nav {
    background-color: #f9f9f9;
}

.primary_nav nav {
    width: 980px;
    margin: 0 auto;
}

ul.main_menu {
    display: block;
    float: left;
    margin: 20px 0 19px 40px;
}

ul.main_menu a {
    color: #333;
    text-decoration: none;
}

.basket_header_block {
    display: block;
    float: right;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #dedede;
    text-decoration: none;
    color: #999;
    padding: 6px 9px 7px 10px;
    margin: 9px 0 9px 28px;
}

.basket_header_block:hover {
    text-decoration: none;
}

.basket_header_block .icon_sprite.basket {
    float: left;
    margin: 0 10px 0 0;
}

.basket_header_block span {
    line-height: 1.4;
}

.basket_header_block .basket_header_number {
    float: right;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: #cc3333;
    color: #fff;
    font-size: 8px;
    margin: 2px 0 0 8px;
    min-width: 18px;
    height: 18px;
    text-align: center;
    padding: 0 3px;
    display: inline-block;
    line-height: 19px;
    font-family: Arial;
}
@-moz-document url-prefix()
{
    .basket_header_block .basket_header_number{ line-height: 18px;}
}

.cabinet_header_block {
    display: block;
    float: right;
    color: #999;
    height: 19px;
    margin: 18px 0 17px;
}

.cabinet_header_block .icon_sprite.sign_in {
    margin: 0 0 -3px 10px;
}

.secondary_nav {
    box-shadow: 0 1px 7px #eaeaea;
}

.secondary_nav nav {
    width: 980px;
    margin: 0 auto;
}

.tel_header_block {
    font-size: 24px;
    float: right;
    margin: 38px 0 34px 40px;
}

.adviser_header_block {
    display: block;
    float: right;
    color: #999;
    margin: 38px 0 38px 36px;
}

.adviser_header_block .icon_sprite.adviser {
    margin: 0 0 -3px 17px;
}

.search_header_block {
    float: right;
    width: 397px;
    position: relative;
    margin: 29px 0 28px;
}

.search_header_block input[type="text"] {
    height: 39px;
    border-color: #f0f0f0;
    padding-left: 45px;
}

.search_header_block input[type="submit"] {
    border: none;
    padding: 0;
    position: absolute;
    top: 11px;
    left: 12px;
}

/*end header*/

.fake_table{
    display: table;
    width: 100%;
    height: 100%;
}
.fake_table_cell{
    display: table-cell;
    vertical-align: middle;
    line-height: 1 !important;
}

/*content*/
.form_body, .form_header {
    width: 980px;
    margin: 0 auto;
}

.form_body {
    min-height: 401px;
    padding: 0 0 14px;
}

.content_nav {
    padding: 30px 0 30px 88px;
    margin: 24px 0 0;
}

ul.basket_menu {
    margin: 0 0 0 0;
}

ul.basket_menu li {
    margin: 0 18px;
}

.steps_block {
    padding: 10px 0 30px 106px;
}

ul.steps li {
    margin: 0 0 0 -5px;
    border: 2px solid #f1f1f1;
}

ul.steps li:first-child {
    margin: 0;
}

ul.steps a {
    display: block;
    color: #e6e6e6;
    text-decoration: none;
    padding: 0 32px 0 24px;
}

ul.steps .step_number {
    border: 2px solid #e6e6e6;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    margin: 0 12px 0 0;
    display: inline-block;
    width: 22px;
    height: 22px;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    line-height: 18px;
}

ul.steps .step_title {
    line-height: 3;
    font-family: 'PFDinDisplayPro-Black', Calibri, sans-serif;
}

ul.steps li.active {
    border-color: #b74380;
    background-color: #b74380;
}

ul.steps li.active a {
    color: #fff;
}

ul.steps li.active .step_number {
    border-color: #fff;
}

h1.title {
    font-size: 37px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    padding: 10px 0 10px 106px;
}

h1.thanks{
    padding-bottom: 0;
}

h3.info {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
    color: #ccc;
    margin: 0;
    padding: 10px 0 10px 106px;
    line-height: 1.4;
}

h4.info {
    font-size: 22px;
    font-weight: normal;
    color: #ccc;
    margin: 0;
    padding: 0 0 10px 106px;
    line-height: 1.4;
}

.form_elements {
    padding: 30px 0;
}

.field_group {
    margin-bottom: 22px;
}

.form_elements .field_name {
    min-width: 205px;
    margin: 0 44px 0 0;
    float: left;
    text-align: right;
    line-height: 2.2;
}

.form_elements .input_wrap {
    min-width: 280px;
    float: left;
}

.form_elements .select_wrap {
    min-width: 186px;
    float: left;
}

.form_elements .address_wrap {
    min-width: 486px;
    float: left;
}

.form_actions {
    background-color: #fbfcfc;
}

.form_actions .buttons_container {
    width: 980px;
    margin: 0 auto;
    padding: 37px 0 29px;
}

.buttons_container.change_password .button.pink {
    margin: 0 15px 0 249px;
}

.buttons_container.change_password_final .button.black {
    margin: 0 0 0 106px;
}

.buttons_container.order_submit .button.pink {
    float: right;
    /*margin: 0 0 0 106px;*/
}

.to_pay_block {
    font-size: 24px;
    text-transform: uppercase;
    float: left;
    line-height: 1.6;
    margin: 0 0 0 106px;
}

.to_pay_block .bold {
    font-family: 'PFDinDisplayPro-Black', Calibri, sans-serif;
}

/*end content*/

/*history*/
.order_history_block {
    padding: 20px 0 14px;
}

.order_item {
    border-bottom: 1px solid #e9e9e9;
    font-size: 17px;
    text-transform: uppercase;
    padding: 30px 0 26px 0;
    width: 980px;
}

.order_item .left_block {
    color: #ccc;
    width: 160px;
    float: left;
    margin: 0 16px 0 0;
}

.order_item .center_block {
    float: left;
    width: 670px;
    margin: 0 14px 0 0;
}

.order_item .right_block {
    width: 120px;
    float: right;
    text-align: right;
}

.order_item .order_date {
    margin-bottom: 6px;
}

.order_item .order_number_block {
    font-size: 15px;
    text-transform: none;
}

.order_item .order_good {
    margin-bottom: 17px;
}

.order_item .left_block > div,
.order_item .right_block > div,
.order_item .center_block > div {
    width: 100%;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*end history*/

/*goods_list*/
.goods_list_container {
    padding: 0 0 52px 106px;
}

.goods_item .left_block {
    float: left;
    width: 544px;
    margin: 0 18px 0 0;
}

.goods_item .right_block {
    float: left;
    width: 312px;
}

.goods_item {
    border-bottom: 1px solid #eaeaea;
    font-size: 15px;
    padding: 28px 0 0;
}

.goods_item .goods_info {
    font-size: 17px;
}

.goods_item .close_container {
    padding: 0 0 42px;
}

.goods_item .good_name {
    text-transform: uppercase;
    width: 190px;
    float: left;
}

.goods_item .one_good_coast {
    width: 156px;
    padding: 0 44px 0 0;
    float: left;
    text-align: right;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.goods_item .goods_quantity_block {
    width: 102px;
    padding: 0 4px;
    float: left;
}

.goods_item .goods_quantity_block a {
    float: left;
}

.goods_item .goods_quantity_toggler {
    width: 20px;
    height: 43px;
    top: -10px;
    float: left;
    margin: -11px 0 -15px 16px;
}

.goods_item .goods_quantity_toggler .toggler {
    border: 1px solid #ebebeb;
    color: #a8a8a8;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    line-height: 1.35;
}

.goods_item .goods_quantity_toggler .toggler.more_toggler {
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}

.goods_item .goods_quantity_toggler .toggler.less_toggler {
    border-top: none;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
}

.goods_item .goods_total_coast {
    width: 96px;
    padding: 0 4px 0 12px;
    float: left;
    text-align: left;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.goods_edit_block {
    padding: 2px 0;
}

.goods_edit_block .goods_edit_block_closed {
    display: block;
}

.goods_edit_block.open .goods_edit_block_closed {
    display: none;
}

.goods_edit_block .goods_edit_block_opened {
    display: none;
}

.goods_edit_block_closed a {
    padding: 6px 0 0;
    display: block;
}

.goods_edit_block_opened .goods_edit_block_opened_title {
    text-transform: uppercase;
    color: #dcdcdc;
}

.goods_edit_list_block {
    padding: 16px 0 12px 33px;
    color: #999;
    line-height: 1.07;
}

.goods_edit_list_item {
    padding: 9px 0;
}

.goods_edit_list_block .good_edit_remove {
    float: left;
    width: 16px;
    height: 16px;
    display: block;
    margin: 0 14px 0 0;
}

.goods_edit_save {
    padding: 0 0 0 32px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.goods_gifts_block {
    padding: 20px 0;
}

.goods_edit_block.open .goods_edit_block_opened {
    display: block;
}

.goods_gifts_block .goods_gifts_block_closed {
    display: block;
}

.goods_gifts_block.open .goods_gifts_block_closed {
    display: none;
}

.goods_gifts_block .goods_gifts_block_opened {
    display: none;
}

.goods_gifts_block.open .goods_gifts_block_opened {
    display: block;
}

.goods_gifts_block .goods_gifts_button {
    width: 190px;
    height: 48px;
    line-height: 3.2;
    padding: 0 18px 0 16px;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #99cc33;
    color: #99cc33;
    cursor: pointer;
}

.goods_gifts_block .goods_gifts_button:before {
    content: '';
    display: block;
    float: right;
    margin: 21px 0 0 0;
    border-width: 6px 5px 0 5px;
    border-style: solid;
    border-color: #99cc33 transparent transparent transparent;
}

.goods_gifts_block.open .goods_gifts_button {
    background-color: #99cc33;
    color: #fff;
}

.goods_gifts_block.open .goods_gifts_button:before {
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent #fff transparent;
}

.goods_gifts_list {
    padding: 12px 0;
}

.goods_gifts_item {
    padding: 9px 0;
}

.goods_pack_block {
    color: #ccc;
    margin: -15px 0 0;
    padding: 0 0 24px;
}

.goods_pack_block .goods_pack_block_closed {
    display: block;
}

.goods_pack_block .goods_pack_block_opened,
.goods_pack_block .goods_pack_block_done {
    display: none;
}

.goods_pack_block.open .goods_pack_block_closed,
.goods_pack_block.open .goods_pack_block_done {
    display: none;
}

.goods_pack_block.open .goods_pack_block_opened {
    display: block;
}

.goods_pack_block.done .goods_pack_block_closed,
.goods_pack_block.done .goods_pack_block_opened {
    display: none;
}

.goods_pack_block.done .goods_pack_block_done {
    display: block;
}

.goods_pack_block_closed {

}

.good_pack_button_to_open {
    display: block;
    width: 140px;
    padding: 0 16px 0 20px;
    line-height: 3;
    border: 1px solid #eaeaea;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    color: #ccc;
    cursor: pointer;
}

.good_pack_button_to_open:hover {
    text-decoration: none;
}

.good_pack_button_to_open:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background: url("../img/sprite.png") no-repeat -85px -41px;
    float: left;
    margin: 16px 10px 0 0;
}

.good_pack_button_done {
    display: block;
    width: 140px;
    padding: 0 16px 0 20px;
    line-height: 3;
    border: 1px solid #2baae1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    background-color: #2baae1;
    color: #fff;
    cursor: pointer;
    float: left;
}

.good_pack_button_done:hover {
    text-decoration: none;
}

.good_pack_button_done:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/sprite.png") no-repeat -101px -43px;
    float: left;
    margin: 16px 10px 0 0;
}

.good_pack_button_to_close {
    display: block;
    width: 140px;
    padding: 0 16px 0 20px;
    text-decoration: none;
    color: #ccc;
    cursor: pointer;
    margin: 15px 0;
}

.good_pack_button_to_close:hover {
    text-decoration: none;
}

.good_pack_button_to_close:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background: url("../img/sprite.png") no-repeat -85px -25px;
    float: left;
    margin: 1px 10px 0 0;
}

.good_pack_button_to_cancel {
    display: block;
    padding: 0 0 0 18px;
    text-decoration: none;
    color: #ccc;
    cursor: pointer;
    margin: 10px 0 11px;
    float: left;
    line-height: 1.75;
}

.good_pack_button_to_cancel:hover {
    text-decoration: none;
}

.good_pack_button_to_cancel:before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background: url("../img/sprite.png") no-repeat -58px -25px;
    float: left;
    margin: 1px 10px 0 0;
}

.pack_view_block {
    border: 2px solid #eaeaea;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0 0 20px;
    text-align: center;
}

.goods_pack_slider_block {
    padding: 10px 25px 0 25px;
}

.goods_pack_slider_arrow {
    float: left;
    cursor: pointer;
}

.goods_pack_slider_arrow.left {
    margin: 76px 14px 76px 0;
}

.goods_pack_slider_arrow.right {
    margin: 76px 0 76px 14px;
}

.goods_pack_slider_view_container {
    float: left;
    width: 178px;
    height: 178px;
    overflow: hidden;
    position: relative;
}

.goods_pack_slider_img_wrap {
    position: absolute;
    top: 0;
    left: 0;
}

.goods_pack_slider_img_wrap img {
    float: left;
}

.goods_pack_price_block {
    font-family: 'PFDinDisplayPro-Black', Calibri, sans-serif;
    font-size: 28px;
    line-height: 1.8;
    color: #d0d0d0;
    text-align: center;
}

.goods_pack_select_button {
    display: inline-block;
}

/*end goods_list*/

/*thanks*/
.order_number_container{
    padding: 48px 0 32px 106px;
    font-size: 22px;
}
.social_block_container{
    padding: 10px 0 10px 106px;
}
.social_block_container p{
    color: #ccc;
    padding: 21px 0;
    margin: 0;
    width: 484px;
}
.social_block_container .social_block{
    border: 2px solid #f3f3f3;
    height: 87px;
    width: 550px;
}
.social_block .social_icon_block{
    width: 90px;
    height: 100%;
    border-right: 2px solid #f3f3f3;
    float: left;
}
.social_block .social_icon{
    display: block;
    width: 30px;
    height: 30px;
    margin: 28px auto 0 auto;
    background: url('../img/socials.png') no-repeat 0 0;
    border: none;
}
.social_block .social_icon.facebook{
    background-position: -2px -2px;
}
.social_block .social_icon.vkontakte{
    background-position: -34px -2px;
}
.social_block .social_widget{
    float: left;
    width: 366px;
    height: 100%;

    /*temp*/
    overflow: hidden;
    background: url("../img/layks_widget.gif") no-repeat 0 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*end thanks*/